.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-top: var(--default-border) !important;
  background: white;
  box-sizing: border-box;
  font-size: var(--header-text-size);
  z-index: 1;
}

.header .ul-header {
  margin: 20px 0;
  list-style: none;
  padding: 0 2%;
  justify-content: space-between;
}

.header .ul-header-left, .header .ul-header-right {
  flex-basis: calc(50% - 100px);
  justify-content: space-between;
}

.header .ul-header-left {
  padding-right: 0.7%;
}

.header .ul-header-right {
  padding-left: 0.7%;
}

.header .ul-header-center {
  flex-basis: 200px;
}

.header .ul-header .button-primary {
  height: 52px;
  width: auto;
  padding: 0 8.8%;
  background: var(--primary-background-color);
  border: none;
  text-transform: uppercase;
  color: white;
}

.header .ul-header .button-primary:hover {
  cursor: pointer;
}

.header .ul-header .nav-link {
  flex-grow: 1;
  text-decoration: none;
  color: var(--nav-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .ul-header .nav-link:hover {
  color: var(--primary-background-color);
}

.drop-button{
  box-sizing: border-box;
  border: 0;
  background-color: white;
  position: relative;
}

.dropdown-content::after{
  content: element(header);
}

.dropdown-content {
  display: none; /* Скрывать по умолчанию */
  background-color: white;
  z-index: 999;
  position: absolute;
  border-top: 1px solid black;
  padding: 0; /* Убираем отступы, если не нужно */
  margin: 0;
}

/* Показывает dropdown при наведении на кнопку */
.drop-button:hover + .dropdown-content {
  display: block; /* Показать dropdown при наведении на кнопку */
}

/* Также можно добавить стили для самой кнопки и li для лучшего оформления */
.ul-header {
  position: relative; /* Позволяет dropdown привязаться к nav */
}








