@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-top: var(--default-border) !important;
  background: white;
  box-sizing: border-box;
  font-size: var(--header-text-size);
  z-index: 1;
}

.header .ul-header, .header .ul-header-adaptive {
  position: relative;
  margin: 20px 0;
  list-style: none;
  padding: 0 2%;
  justify-content: space-between;
}

.header .header-icon {
  display: none;
}

.header .ul-header-left, .header .ul-header-right {
  flex-basis: calc(50% - 100px);
  justify-content: space-between;
}

.header .ul-header-left {
  padding-right: 0.7%;
}

.header .ul-header-right {
  padding-left: 0.7%;
}

.header .ul-header-center {
  flex-basis: 200px;
}

.header .ul-header .button-primary {
  height: 52px;
  width: auto;
  padding: 0 8.8%;
  background: var(--primary-background-color);
  border: none;
  text-transform: uppercase;
  color: white;
}

.header .ul-header .button-primary:hover {
  cursor: pointer;
}

.header .ul-header .nav-link {
  flex-grow: 1;
  text-decoration: none;
  color: var(--nav-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .ul-header .nav-link:hover {
  color: var(--primary-background-color);
}

.header .ul-header-adaptive {
  display: none;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none; /* Скрываем меню по умолчанию */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Начальная прозрачность */
  transform: translateY(-10px); /* Начальное смещение вверх */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease; /* Плавный переход */
  z-index: 1000;
}

.toggle-input {
  display: none; /* Скрываем чекбокс */
}

.dropdown-text {
  text-decoration: none;
  color: black;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: var(--fontFamily);
  font-size: 14px;
}

.main {
  margin-top: 112px;
}

.img {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

:root {
  --primary-background-color: #FB4B4D;
  --nav-text-color: #222222;
  --header-text-size: 14px;
  --footer-text-size: 15px;
  --running-line-text-size: 17px;
  --default-padding: 20px;
  --footer-color: #CDFD3B;
  --fontFamily: "Roboto", sans-serif;
  --default-border: 1px solid black;
}

.border {
  border: var(--default-border);
  border-top: none;
}

.container {
  width: 97%;
  max-width: 1920px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #423b3b;
  }
  .header {
    background-color: #423b3b;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  .header {
    background-color: white;
  }
}
.banner-section {
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: content-box;
}

.banner-section .banner-left {
  border-right: var(--default-border);
}

.banner-section .banner-left .large-logo {
  padding: var(--default-padding);
  position: relative;
  z-index: 0;
}

.banner-section .banner-left .large-logo .ujjo {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

.banner-section .banner-left .large-logo .white-label {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc((100% - 2 * var(--default-padding)) * 0.8491);
}

.banner-section .banner-left .running-line {
  border-top: var(--default-border);
  border-bottom: var(--default-border);
}

.banner-section .banner-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.banner-section .banner-right .h1 {
  font-size: clamp(30px, 45px + 11 * (100vw - 1024px) / 416, 58px);
  font-weight: normal;
  text-align: center;
  max-width: 536px;
  margin: 0;
}

.running-line {
  width: 100%; /* Задаем ширину на 100% */
  display: flex;
  flex-direction: row;
  z-index: -1;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.running-line-element {
  flex: 0 0 auto;
  line-height: var(--running-line-text-size);
  display: flex;
  align-items: center;
  animation: marquee 4s linear infinite;
}

.running-line-text {
  font-size: var(--running-line-text-size);
  margin-right: 29px;
}

.running-line-img {
  width: 64.18px;
  height: 30.13px;
  object-fit: contain;
  margin-right: 29px;
}

.big-photo {
  position: relative;
  box-sizing: border-box;
  padding: var(--default-padding);
}

.big-photo-picture {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.big-photo-picture .img {
  width: 100%;
  object-fit: contain;
}

.slogan-line {
  flex-grow: 1;
  border-bottom: var(--default-border);
  padding: var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.main .text-scorpion {
  padding: clamp(32px, 32px + 27 * (100vw - 1024px) / 416, 60px) 29px;
  justify-content: space-between;
  align-items: center;
}

.main .text-scorpion .scorpion {
  width: clamp(70px, 180px + 55 * (100vw - 1024px) / 416, 225px);
  object-fit: contain;
}

.main .text-scorpion .h2 {
  font-size: clamp(24px, 45px + 10 * (100vw - 1024px) / 416, 65px);
  font-weight: normal;
  text-align: center;
  max-width: 785px;
  margin: 0;
}

.scaleX {
  transform: scale(-1, 1);
}

.section-catalog {
  position: relative;
  padding: 28px 20px;
}

.section-catalog .catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.section-catalog .fire-container {
  position: absolute;
  top: 28px;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
}

.section-catalog .fire {
  position: absolute;
  object-fit: contain;
  width: 58px;
  margin: auto;
}

.section-catalog .fire-1 {
  left: 0;
}

.section-catalog .fire-2 {
  left: calc((100% + 20px) / 3 - 49px);
  right: calc(100% - (100% + 20px) / 3 - 29px);
}

.section-catalog .fire-3 {
  left: calc(100% - (100% + 20px) / 3 - 29px);
  right: calc((100% + 20px) / 3 - 49px);
}

.section-catalog .fire-4 {
  right: 0;
}

.section-catalog .product-card {
  position: relative;
  height: clamp(545px, 545px + 113 * (100vw - 1024px) / 416, 658px);
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.section-catalog .product-card .background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  box-sizing: border-box;
  border-bottom: var(--default-border);
}

.section-catalog .product-card .background-image {
  width: 100%;
  height: 100%;
  min-height: 658px;
}

.section-catalog .product-card .product {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: clamp(130px, 164px - 6 * (100vw - 1024px) / 416, 136px) 20px 20px 20px;
}

.section-catalog .product-card .product-photo {
  width: 100%;
  object-fit: contain;
}

.section-catalog .product-card .product-photo .img {
  width: 100%;
  margin: 0 auto;
}

.section-catalog .product-card .product-name, .section-catalog .product-card .product-info {
  text-align: center;
}

.section-catalog .product-card .product-name {
  font-size: clamp(25px, 25px + 7 * (100vw - 1024px) / 416, 32px);
  margin: 0 auto 16px auto;
}

.section-catalog .product-card .product-info {
  font-size: clamp(17px, 17px + 1 * (100vw - 1024px) / 416, 24px);
  margin: 0 auto;
}

.section-history {
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: content-box;
}

.section-history .history-left {
  border-right: var(--default-border);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.section-history .history-left .h3 {
  font-size: clamp(24px, 32px + 26 * (100vw - 1024px) / 416, 58px);
  font-weight: normal;
  text-align: center;
  max-width: 590px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section-history .history-left .woman-photo {
  position: relative;
}

.section-history .history-left .woman-photo .img {
  width: 100%;
  object-fit: contain;
}

.section-history .history-right {
  position: relative;
}

.section-history .history-right .background {
  z-index: 0;
  width: 100%;
  position: relative;
  object-fit: contain;
}

.section-history .history-right .history-text {
  position: absolute;
  padding: 16% 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.section-history .history-right .history-text .p {
  font-size: clamp(8px, 12px + 3 * (100vw - 840px) / 416, 26px);
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 35ch;
}

.slogan {
  flex-grow: 1;
  border-bottom: var(--default-border);
  padding: var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre-footer {
  position: relative;
}

.pre-footer .bottom-big-logo {
  padding: var(--default-padding);
  position: relative;
}

.pre-footer .bottom-big-logo-frame {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

.pre-footer .bottom-big-logo .white-label, .pre-footer .bottom-big-logo .ujjo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pre-footer .bottom-big-logo .ujjo {
  width: calc((100% - 2 * var(--default-padding)) * 860 / 1395);
}

.pre-footer .bottom-big-logo .white-label {
  width: calc((100% - 2 * var(--default-padding)) * 815 / 1395);
}

.pre-footer .bottom-big-logo .big-fire {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  padding: 20px clamp(12px, 40px + 53 * (100vw - 1024px) / 416, 93px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--footer-text-size);
  background: var(--footer-color);
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  :root {
    --default-padding: 12px;
  }
  .header .ul-header {
    align-items: center;
    padding: 0;
    margin: 18px 16px;
  }
  .header .ul-header {
    display: none;
  }
  .toggle-input:checked + .header-icon + .dropdown-content {
    display: block; /* Показываем меню при чекбоксе */
    opacity: 1; /* Полностью видимое */
    transform: translateY(0); /* Возвращаем в исходное положение */
  }
  .toggle-input:checked + .header-icon .img {
    display: none;
    background-image: url("/assets/images/vector/hide_icon.svg"); /* Меняем изображение */
  }
  .header .ul-header-adaptive {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header .ul-header .button-primary {
    display: none;
  }
  .header .header-icon {
    display: block;
  }
  .main {
    margin-top: 80px;
  }
  .banner-section {
    display: grid;
    grid-template-columns: 100%;
  }
  .running-line-text {
    margin-right: 10px;
  }
  .banner-right {
    border-top: 1px solid black;
  }
  .main .text-scorpion {
    padding: 32px 12px;
    font-size: 24px;
  }
  .section-history {
    display: grid;
    grid-template-columns: 100%;
  }
  .footer address {
    font-size: 12px;
  }
  .section-catalog {
    overflow-x: auto;
  }
  .section-catalog .catalog {
    padding: 0;
    position: relative;
    min-width: max-content;
  }
  .section-catalog .product-card {
    height: auto;
  }
  .section-catalog .fire-container {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  body {
    background-color: #423b3b;
  }
  .header .ul-header-adaptive {
    background-color: #423b3b;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  .header {
    background-color: white;
  }
}
@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}

/*# sourceMappingURL=index.css.map */
